@charset "UTF-8";

/*
     em HTML é id = em C #
     em HTML é class = em CSS é .
     */
body {
    background-color: rgb(120, 219, 186);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(39, 161, 161);
}

h1#principal{
    text-align: center;
    background-color: rgb(5, 15, 12);
    color: white;
}

h2{
    color: rgb(138, 34, 235);
}

.basico{
    color: rgb(41, 153, 26);
    font-weight: bold;
}
.intermediario{
    color: rgb(167, 17, 17);
}
.avançado{
    color: rgb(200, 202, 49);
}